
    <div class="icon-bars" style="margin-top: 0px; margin-bottom: 10px;">
        <i class="material-icons-outlined hovers" matTooltip="Pin" *ngIf="note.pin == false" style="position: absolute; top: 5px; right: 5px;"
        (click)="PinNote()">push_pin</i>
    <i class="material-icons hovers" matTooltip="UnPin" style="color: black;position: absolute; top: 5px; right: 5px; margin-right: 10px;"
         *ngIf="note.pin == true" (click)="unPinNote()">push_pin</i>
        <i class="material-icons-outlined" matTooltip="Remind me">notification_important</i>
        <i class="material-icons-outlined" matTooltip="Collaborator">person_add_alt_1</i>
        <i class="material-icons-outlined" matTooltip="Change Color"  [matMenuTriggerFor]="ChangeColor" (click)="$event.stopPropagation()">color_lens</i>

        <label for="image">
            <input type="file" name="image" accept="image/*" id="image" style="display:none;" />
            <i class="material-icons-outlined" matTooltip="Add Image">image</i>
        </label>
        <i class="material-icons-outlined" matTooltip="Archive" *ngIf="note.archive == false">archive</i>
        <i class="material-icons-outlined"  *ngIf="note.archive == true">unarchive</i>
        <i class="material-icons-outlined" matTooltip="More">more_vert</i>
    </div>

    <!--  Menu bar-->
    <mat-menu #ChangeColor="matMenu" style="margin: 0px; padding: 2px;">
            <div style="display: flex;" *ngFor="let colorline of colorList">
                <div *ngFor="let color of colorline" style="padding: 5px;">
                    <button [ngStyle]="{ 'background-color': color.color}" mat-fab style="max-width: 30px; max-height: 30px; box-shadow: none; border: 1px solid gray;" matTooltip="{{color.tip}}" (click)="SetColor(color.color)"></button>
                </div>
            </div>
    </mat-menu>

