<div class="icon-bars" style="margin-top: 0px; margin-bottom: 10px;">
    <i class="material-icons-outlined hovers" matTooltip="Pin" *ngIf="note.pin == false"
        style="position: absolute; top: 5px; right: 5px;" (click)="PinNote()">push_pin</i>
    <i class="material-icons hovers" matTooltip="UnPin"
        style="color: black;position: absolute; top: 5px; right: 5px; margin-right: 10px; cursor: pointer;"
        *ngIf="note.pin == true" (click)="unPinNote()">push_pin</i>
    <i class="material-icons hovers" style="cursor:pointer; position: absolute; top:100px; right: 5px;"
        *ngIf="note.image != null" (click)="DeleteImage()">delete</i>
    <i class="material-icons-outlined" matTooltip="Remind me"
    [matMenuTriggerFor]="note.remainder != null?Pickdates:remindermenus">notification_important</i>
    <i class="material-icons-outlined" matTooltip="Collaborator">person_add_alt_1</i>
    <i class="material-icons-outlined" matTooltip="Change Color" [matMenuTriggerFor]="ChangeColor"
        (click)="$event.stopPropagation()">color_lens</i>
    <label for="image">
        <input type="file" name="image" accept="image/*" id="image" style="display:none;"
            (change)="onFileChanged($event)" />
        <mat-icon class="icon material-icons-outlined" matTooltip="add image">portrait</mat-icon>
    </label>
    <i class="material-icons-outlined" matTooltip="Archive" *ngIf="note.archive == false"
        (click)="Archive()">archive</i>
    <i class="material-icons-outlined" *ngIf="note.archive == true" (click)="UnArchive()">unarchive</i>
    <i class="material-icons-outlined" matTooltip="More" [matMenuTriggerFor]="moremenus">more_vert</i>
</div>

<!--  Menu bar-->
<mat-menu #ChangeColor="matMenu" style="margin: 0px;padding: 0px !important;" yPosition="above">
    <div style="display: flex;" *ngFor="let colorline of colorList">
        <div *ngFor="let color of colorline" style="padding: 2px;">
            <button [ngStyle]="{ 'background-color': color.color}" mat-mini-fab
                style="box-shadow: none; border: 1px solid gray; width: 30px; height: 30px;" matTooltip="{{color.tip}}"
                (click)="SetColor(color.color)"></button>
        </div>
    </div>
</mat-menu>
<mat-menu #moremenus="matMenu">
    <button mat-menu-item style="font-size: 17px;">Add Label</button>
    <button mat-menu-item style="font-size: 17px;" (click)="NoteTrash()">Delete Note</button>
</mat-menu>
<mat-menu #remindermenus="matMenu" class="reminder-menu" style="width: 500px;">

    <div class="space h4">
        <h4 style="font-weight: 500;">Reminder:</h4>
    </div>
    <div mat-menu-item class="space" (click)="SetDates('Today, 8:00PM')">
        <p>Later Today</p>
        <p class="color">8:00 PM</p>
    </div>
    <div mat-menu-item class="space" (click)="SetDates('Tomorrow, 8:00AM')">
        <p>Tomorrow</p>
        <p class="color">8:00 AM</p>
    </div>
    <div mat-menu-item class="space" (click)="SetDates('set')">
        <p>Next week</p>
        <p class="color">Mon, 8:00 AM</p>
    </div>
</mat-menu>


<mat-menu #Pickdates="matMenu">
    <div class="rows">
        <i class="material-icons back-arrow" [matMenuTriggerFor]="remindermenus"
            (click)="$event.stopPropagation()">arrow_back</i>
        <p style="font-size: medium; padding-top: 10px; margin-left: 5px;">Pick Date and Time</p>
    </div>
    <hr>
    <div class="rows" style="margin-top: 0px;">
        <input matInput [matDatepicker]="picker" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon style="padding-left: 20px;">arrow_drop_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </div>
    <mat-divider></mat-divider>
<mat-select [(ngModel)]="selecteds" placeholder="{{selecteds}}" (click)="$event.stopPropagation()"
    style="padding-top: 10px; color: black; margin-top: 5px; margin-bottom: 5px;">
    <mat-option value="8:00 AM">
        <div class="space-between">
            <p>Morning</p>
            <p>8:00 AM</p>
        </div>
    </mat-option>
    <mat-option value="1:00 PM">
        <div class="space-between">
            <p>Afternoon</p>
            <p>1:00 PM</p>
        </div>
    </mat-option>
    <mat-option value="6:00 PM">
        <div class="space-between">
            <p>Evening</p>
            <p>6:00 PM</p>
        </div>
    </mat-option>
    <mat-option value="8:00 PM">
        <div class="space-between">
            <p>Night</p>
            <p>8:00 PM</p>
        </div>
    </mat-option>
</mat-select>
<mat-divider></mat-divider>
<div style="display: flex; justify-content: right; margin-top: 10px; width: 100%;">
    <button (click)="SaveChanges()" class="save-button">Save</button>
</div>
</mat-menu>