
    <div class="icon-bars" style="margin-top: 0px; margin-bottom: 10px;">
        <i class="material-icons-outlined" matTooltip="Remind me">notification_important</i>
        <i class="material-icons-outlined" matTooltip="Collaborator">person_add_alt_1</i>
        <i class="material-icons-outlined" matTooltip="Change Color">color_lens</i>

        <label for="image">
            <input type="file" name="image" accept="image/*" id="image" style="display:none;" />
            <i class="material-icons-outlined" matTooltip="Add Image">image</i>
        </label>
        <i class="material-icons-outlined" matTooltip="Archive" *ngIf="note.archive == false">archive</i>
        <i class="material-icons-outlined"  *ngIf="note.archive == true">unarchive</i>
        <i class="material-icons-outlined" matTooltip="More">more_vert</i>

    </div>

