<div class="MainContainer">
    <mat-card>
        <form [formGroup]="RegisterForm" class="form-columns">
            <div>
                <h1>
                    <span style="color:blue">F</span>
                    <span style="color:red">u</span>
                    <span style="color:yellow">n</span>
                    <span style="color:green">d</span>
                    <span style="color:blue">o</span>
                    <span style="color:red">o</span>
                </h1>
                <h1>Create your Fundoo Account</h1>
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>FirstName</mat-label>
                        <input matInput placeholder="FirstName" formControlName='firstName' type="text" required>
                        <mat-error>{{FirstNameValidation()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>LastName</mat-label>
                        <input matInput placeholder="LastName" formControlName='lastName'>
                        <mat-error>{{LastNameValidation()}}</mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline" class="gmail">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="UserName" formControlName='email'>
                    <mat-icon matSuffix>@gmail.com</mat-icon>
                    <mat-hint class="labels">You can use letters, numbers and periods</mat-hint> 
                    <mat-error>{{EmailValidation()}}</mat-error>
                </mat-form-field>
                <div class="row">

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]='hide?"text":"password"' placeholder="Password" formControlName='password'>
                        <mat-error>{{ PasswordValidation()}}</mat-error>

                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput placeholder="Confirm" [type]='hide?"text":"password"' formControlName='confirmPassword' pattern="{{this.RegisterForm.value.password}}">
                        <mat-error *ngIf="RegisterForm.get('confirmPassword')?.hasError('pattern')">Passwords didn’t match.Try Again</mat-error>
                        <mat-error *ngIf="RegisterForm.get('confirmPassword')?.hasError('required')">Enter Confirm Password</mat-error>
                    </mat-form-field>
                </div>
                <div class="margin-override">
                    <mat-hint >Use 8 or more characters with a mix of letters, numbers & symbols
                    </mat-hint>
                </div>
                <mat-checkbox class="" (change)="hide=!hide">Show Password</mat-checkbox>
                <div class="row space">
                    <button mat-button class="MovetoNext" [routerLink]="['/login']">Sign in instead</button>
                    <button mat-flat-button class="buttons" (click)="Register()">Next</button>
                    <!-- [routerLink]="['/login']" -->
                </div>
            </div>
        </form>
        <div class="side">
            <img width="224" height="224" src="../../../assets/side-icon.svg" />
            <p align="center">One account. All of Fundoo<br>working for you.</p>
        </div>
    </mat-card>
</div>