@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
$width : 100%;
mat-card
{
    @include flex;
    padding: 55px 40px 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    min-width: 750px;
    border: 0.5px solid #a8aaad79;
    box-shadow: none !important;
    border-radius: 10px;
}
.row 
{
    display: flex;
    margin-top: 15px;
}
//Input forms
mat-form-field
{
    margin-right: 10px;
    width: $width;
    margin-bottom: 5px;
}
//Form header
h1> span{
    font-size: larger;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #1a73e8;
    font-weight:500;
    justify-content: space-between;
}
// Input Label Hints
.gmail
{
    width: 98%;
}
.labels
{
    color: grey;
    width: 89%;
    font-size: 13px;
    padding-top: 0px;
    margin-bottom: 15px;
}
.margin-override
{
    color: grey;
    width: 89%;
    font-size: 13px;
    padding-top: 0px;
    margin-top: -10px;
    margin-bottom: 15px;
    padding-left: 12px;
}
//Button
.space
{
    @include flex;
    justify-content: space-between;
    margin: 30px 0;
}
.buttons{
    width: 25%;
    background-color: #1a73e8;
    color:white;
}

.MovetoNext
{
    color: #1a73e8;
}
mat-checkbox
{
    margin-bottom: 5px;
}
.mat-button:hover
{
    color:#0a418a;
    background-color: rgba(254, 255, 255, 0.815);
}
//Side image
.side{
@include flex;
flex-flow: column wrap;
margin-left: 5%;
}
.side > p{
    font-size: 17px;
    font-weight: lighter;
}
.sg-other-li .sg-required-icon {
    display:none;
    }
    
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #1a73e8; /* Red background for example */
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #1a73e8;
  }
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #1a73e8;
}
::ng-deep .mat-form-field-suffix {
    position:unset !important; 
}
//Media queries
@media screen and (max-width:900px)
{
    .side
    {
        display: none;
    }
    mat-card
    {
      min-width: 500px;
    }
}
@media screen and (max-width:600px)
{
    mat-card {
        transition: none !important;
        border: none !important;
        margin: 0px;
        padding: 0px 10px;
        width:$width;
        min-width: 200px;
        padding-right: 20px;
    }
    .form-columns{
        @include flex;
        flex-wrap: column wrap;
    }
    .row
    {
        flex-flow: row wrap;
    }
    .space
    {
        margin-right: 20px;
    }
}

