@mixin flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divider
{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
mat-toolbar
{
    @include flex;
    background-color: white;
}
::ng-deep .mat-form-field-infix {
    border-top: 0px !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgb(128, 125, 126);
  }
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color:white !important;
}
::ng-deep .mat-form-field-wrapper
{
    margin-bottom: 1.34375em !important;
    padding-bottom: 0px !important;
    &:focus-within{
        box-shadow: 1px 1px 1px 0px  rgb(128, 125, 126);
        border-radius: 7px;
    }
}

.menu-box
{
    @include flex;
    width: 11%;
    align-items: center;
    color:#5f6368;
    min-width: fit-content;
}

.icons
{
    margin-right: 20px;
    font-size: 30px;
    padding: 10px;
}
mat-icon
{
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
    margin-right: 20px;
}
.material-icons:hover
{
    border-radius: 50%;
    background-color: rgb(192, 189, 189);
    color: black;
    cursor: pointer;

}
.mat-raised-button:not([class*=mat-elevation-z]) {
    margin-top: 18px !important;
    margin-bottom: 5px !important;
}
.search{
    margin-top: 30px;
    width: 70%;
    margin: 30 15% 0 15%;
}
.email
{
    margin-top: -10px;
    color:#5f6368;
}
::ng-deep .mat-menu-content
{
    display: flex !important;
    flex-flow: column !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
padding: 40px;
}
.mat-menu-item {
    text-align: center;
    
}
mat-form-field{
    width: 60%;
}
::ng-deep .mat-form-field-infix{
    padding: 10px !important;
}
mat-icon,.material-icons
{
    color: rgb(128, 125, 126);
}

.mat-button-toggle-standalone, .mat-button-toggle-group {

    display: flex !important;
    flex-direction: column !important;
    margin: 0px !important;
    padding: 0px !important;
}

.row{
    display: flex !important;
    flex-flow: row !important;
    width: 50px;
}
.mat-button-toggle-content
{
    display: flex !important;
    flex-flow: row !important;
    width: 50px;
}
h2{
    margin-left: 30px;
    font-size: medium;
}
.mat-button-toggle-checked.mat-button-toggle-appearance-standard  {
background-color: #FEEFC3 !important;
border-bottom-right-radius: 30px;
border-top-right-radius: 30px;
}
mat-drawer.mat-drawer-opened {

    .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
        color: none!important;
        background-color:white !important;
        .material-icons
        {
            border-radius: 50%;
            background-color:#FEEFC3;
            color: black;
            padding: 10px;
        }
    }
  }
  mat-drawer:not(.mat-drawer-opened) {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: 150px !important;
    overflow: hidden!important;
  }
  mat-drawer.mat-drawer-opened:hover
  {
      .mat-button-toggle-checked.mat-button-toggle-appearance-standard  {
      color: black;
      background-color: #FEEFC3 !important;
border-bottom-right-radius: 30px;
border-top-right-radius: 30px;
      }
  }

.row:hover{
    color: black !important;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

mat-drawer-container {
    min-height: 700px;
    min-width: 700px;
  }
.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
    border: none !important;
}
@media screen and (max-width:700px)
{
    .menu-box
    {
        width: 5%;
        justify-content: space-evenly !important;
        background-color: yellow;
    }
    mat-toolbar{
        margin:0px;
        justify-content: space-evenly !important;
        min-width: auto;
    }
    .icons
{
    margin-right: 5px;
    padding: 5px;
    font-size: 20px;
}
mat-icon
{
    padding: 5px;
    font-size: 20px;
    margin-right: 5px;
}
}