<div class="fit-content">
    <div>
        <mat-toolbar>
            <div class="menu-box">
                <button mat-icon-button mat-icon-button class="example-icon"
                    aria-label="Example icon-button with menu icon">
                    <mat-icon (click)="sidenav.toggle();opened=!opened" matTooltip="Main Menu">menu</mat-icon>
                </button>
                <img src="../../../assets/60595ee112518.png" width="40px" height="40px" matTooltip="Fundoo">
                <span matTooltip="Fundoo">Fundoo</span>
            </div>

            <div class="search">
                <mat-form-field appearance="outline">
                    <mat-icon matPrefix class="search-icon" matTooltip="Search">search</mat-icon>
                    <input [(ngModel)]="searchField" matInput placeholder="Search" autocomplete="off">
                    <i class="material-icons icons" matSuffix (click)="clearSearchField()" *ngIf="searchField">clear</i>
                </mat-form-field>
            </div>

            <div class="menu-box">

                <div class="menu-box">
                    <i class="material-icons icons" matTooltip="Refresh">refresh</i>
                    <i class="material-icons icons" *ngIf="!isGrid" (click)="isGrid=true" matTooltip="List view">view_list</i>
                    <i class="material-icons icons" *ngIf="isGrid" (click)="isGrid=false" matTooltip="Grid View">grid_view</i>
                </div>
                <mat-icon [matMenuTriggerFor]="menu" class="account" matTooltip="Account">account_circle</mat-icon>
            </div>

        </mat-toolbar>
        <mat-menu #menu="matMenu" class="account-menu">
            <img src="../../../assets/account.png" width="60px" height="60px" style="margin-top: 25px;">
            <p>{{UserDetails.firstName}} {{UserDetails.lastName}}</p>
            <p class="email ">{{UserDetails.email}}</p>
            <mat-divider style="width: 100%; margin: 0px; padding: 0px; margin-bottom: 10px;" class="divider"></mat-divider>
            <button mat-raised-button (click)="Logout()">Logout</button>
        </mat-menu>
        <mat-divider></mat-divider>


        <mat-drawer-container class="example-container"  >
            <mat-drawer mode="side" #sidenav opened position="start"  (mouseenter)="Toggle()"  (mouseleave)="Toggle()" >

                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">

                    <mat-button-toggle class="row">
                        <i class="material-icons">lightbulb_outline</i>
                        <h2 *ngIf="opened || toggle">Notes</h2>
                    </mat-button-toggle>
                    <mat-button-toggle class="row">
                        <i class="material-icons">notifications_none</i>
                        <h2 *ngIf="opened || toggle">Reminders</h2>
                    </mat-button-toggle>
                    <mat-button-toggle class="row" *ngFor="let label of userLabel">
                        <i class="material-icons">label_outline</i>
                        <h2 *ngIf="opened || toggle">{{label['labelName']}}</h2>
                    </mat-button-toggle>
                    <mat-button-toggle class="row">
                        <i class="material-icons">edit</i>
                        <h2 *ngIf="opened || toggle">Edit Labels</h2>
                    </mat-button-toggle>
                    <mat-button-toggle class="row">
                        <i class="material-icons">archive</i>
                        <h2 *ngIf="opened || toggle">Archive</h2>
                    </mat-button-toggle>
                    <mat-button-toggle class="row">
                        <i class="material-icons">delete</i>
                        <h2 *ngIf="opened || toggle">Trash</h2>
                    </mat-button-toggle>

                </mat-button-toggle-group>
            </mat-drawer>

            <mat-drawer-content align="center">
                <app-notes align="center"></app-notes>
            </mat-drawer-content>

        </mat-drawer-container>

    </div>
</div>