<div>
    <div>
        <mat-toolbar>
            <div class="menu-box">
                <button mat-icon-button mat-icon-button class="example-icon"
                    aria-label="Example icon-button with menu icon">
                    <mat-icon (click)="sidenav.toggle() && opened=!opened && toggle!=toggle">menu</mat-icon>
                </button>
                <img src="../../../assets/60595ee112518.png" width="40px" height="40px">
                <span>Fundoo</span>
            </div>

            <div class="search">
                <mat-form-field appearance="outline">
                    <mat-icon matPrefix class="search-icon">search</mat-icon>
                    <input [(ngModel)]="searchField" matInput placeholder="Search" autocomplete="off">
                    <i class="material-icons icons" matSuffix (click)="clearSearchField()" *ngIf="searchField">clear</i>
                </mat-form-field>
            </div>

            <div class="menu-box">

                <div class="menu-box">
                    <i class="material-icons icons">refresh</i>
                    <i class="material-icons icons" *ngIf="!isGrid" (click)="isGrid=true">view_list</i>
                    <i class="material-icons icons" *ngIf="isGrid" (click)="isGrid=false">grid_view</i>
                </div>

                <mat-icon [matMenuTriggerFor]="menu" class="account">account_circle</mat-icon>
            </div>

        </mat-toolbar>
        <mat-menu #menu="matMenu" class="account-menu">
            <img src="../../../assets/account.png" width="60px" height="60px" style="margin-top: 25px;">
            <p>{{UserDetails.firstName}} {{UserDetails.lastName}}</p>
            <p class="email ">{{UserDetails.email}}</p>
            <mat-divider style="width: 100%; margin: 0px; padding: 0px;" class="divider"></mat-divider>
            <button mat-raised-button (click)="Logout()">Logout</button>
        </mat-menu>
        <mat-divider></mat-divider>


        <mat-drawer-container class="example-container"  >
            <mat-drawer mode="side" #sidenav opened position="start" (mouseover)="toggle!=true?opened=!opened:''"
            (mouseout)="toggle!=true?opened=!opened:''">

                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">

                    <mat-button-toggle class="row">
                        <i class="material-icons">lightbulb_outline</i>
                        <h2 *ngIf="opened">Notes</h2>
                    </mat-button-toggle>
                    <mat-button-toggle class="row">
                        <i class="material-icons">notifications_none</i>
                        <h2 *ngIf="opened">Reminders</h2>
                    </mat-button-toggle>
                    <mat-button-toggle class="row">
                        <i class="material-icons">edit</i>
                        <h2 *ngIf="opened">Edit Labels</h2>
                    </mat-button-toggle>
                    <mat-button-toggle class="row">
                        <i class="material-icons">archive</i>
                        <h2 *ngIf="opened">Archive</h2>
                    </mat-button-toggle>
                    <mat-button-toggle class="row">
                        <i class="material-icons">delete</i>
                        <h2 *ngIf="opened">Trash</h2>
                    </mat-button-toggle>

                </mat-button-toggle-group>
            </mat-drawer>

            <mat-drawer-content align="center">
                Main content
            </mat-drawer-content>

        </mat-drawer-container>
    </div>
</div>