@mixin flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divider
{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
mat-toolbar
{
    @include flex;
    background-color: white;
}
::ng-deep .mat-form-field-infix {
    border-top: 0px !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgb(128, 125, 126);
  }
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color:white !important;
}
::ng-deep .mat-form-field-wrapper
{
    margin-bottom: 1.34375em !important;
    padding-bottom: 0px !important;
    &:focus-within{
        box-shadow: 1px 1px 1px 0px  rgb(128, 125, 126);
        border-radius: 7px;
    }
}

.menu-box
{
    @include flex;
    width: 11%;
    align-items: center;
    color:#5f6368;
    min-width: fit-content;
}

.icons
{
    margin-right: 20px;
    font-size: 30px;
    padding: 10px;
}
mat-icon
{
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
    margin-right: 20px;
}

.search{
    margin-top: 30px;
    width: 70%;
    margin: 30 15% 0 15%;
}
.email
{
    margin-top: -10px;
    color:#5f6368;
}
::ng-deep .mat-menu-content
{
    display: flex !important;
    flex-flow: column !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 20px;
}
.mat-menu-item {
    text-align: center;
    
}
mat-form-field{
    width: 60%;
}
::ng-deep .mat-form-field-infix{
    padding: 10px !important;
}
mat-icon,.material-icons
{
    color: rgb(128, 125, 126);
}


.row{
    display: flex !important;
    flex-flow: row !important;

}

h2{
    margin-left: 30px;
    font-size: medium;
}

.mat-button-toggle-standalone, .mat-button-toggle-group {

    display: flex !important;
    flex-direction: column !important;
    margin: 0px !important;
    padding: 0px !important;
}
mat-drawer:not(.mat-drawer-opened) {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: 250px !important;
    overflow: hidden!important;
    color: rgb(128, 125, 126);
  }

  mat-drawer-container {
    min-height: 650px;
    width: 100%;
  }

.mat-drawer-container
{
    margin-right: 100px;
    padding-right: 100px;
    background-color: white;
}
  .mat-button-toggle-checked.mat-button-toggle-appearance-standard  {
    background-color: #FEEFC3 !important;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    .material-icons
    {

        color: black; 
    }
    }
    mat-drawer.mat-drawer-opened:hover
    {
        .mat-button-toggle-checked.mat-button-toggle-appearance-standard  {

        background-color: #FEEFC3 !important;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  
        }

    }
    mat-drawer.mat-drawer-opened {
        color: rgb(128, 125, 126);
        .mat-button-toggle-checked.mat-button-toggle-appearance-standard {

            background-color:white !important;
            .material-icons
            {
                border-radius: 50%;
                background-color:#FEEFC3;
     
            }
        }
      }
      .material-icons
      {
          padding: 10px!important;
      }
      ::ng-deep .mat-button-toggle-label-content
{
    display: flex !important;
padding: 10px !important;
}
.material-icons:hover
{
    border-radius: 50%;
    background-color: rgb(192, 189, 189);

    cursor: pointer;

}
.row:hover{

    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
    border: none !important;
}

.mat-menu-panel {
    min-height: 20px !important;
}


























@media screen and (max-width:700px)
{
    .menu-box
    {
        width: 5%;
        justify-content: space-evenly !important;
        background-color: yellow;
    }
    mat-toolbar{
        margin:0px;
        justify-content: space-evenly !important;
        min-width: auto;
    }
    .icons
{
    margin-right: 5px;
    padding: 5px;
    font-size: 20px;
}
mat-icon
{
    padding: 5px;
    font-size: 20px;
    margin-right: 5px;
}
}