<div class="MainContainer">
    <mat-card [formGroup]="ForgetPasswordForm">
        <div class="center-align">
            <h1>
                <span style="color:blue">F</span>
                <span style="color:red">u</span>
                <span style="color:yellow">n</span>
                <span style="color:green">d</span>
                <span style="color:blue">o</span>
                <span style="color:red">o</span>
            </h1>
            <h1>Account Recovery</h1>
            <h3>This helps show that this account really belongs to<br>you</h3>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Gmail</mat-label>
            <input matInput placeholder="Email"  formControlName='email'>
            <mat-error>{{EmailValidation()}}</mat-error>
        </mat-form-field>
        <div class="row space">
            <button mat-button class="MovetoNext" [routerLink]="['/login']">Go Back</button>
            <button mat-flat-button class="buttons" [routerLink]="['/reset-password']">Next</button>
        </div>
    </mat-card>
</div>