@mixin flex{
    display: flex;
}
mat-card
{
    padding: 45px 40px 36px;
    @include flex;
    flex-flow: column wrap;
    width: 20%;
    margin: 0 auto;
    min-width: 450px;
    border: 0.5px solid #a8aaad79;
    box-shadow: none !important;
    border-radius: 10px;
}
h3{
    margin-top: -13px;
}
.center-align
{
    text-align: center;
}
//Form header
h1> span{
    font-size: larger;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #1a73e8;
    font-weight:500;
    justify-content: space-between;
}
//Button
.space
{
    @include flex;
    justify-content: space-between;
    margin: 10px 0;
}
.buttons{
    width: 15%;
    background-color: #1a73e8;
    color:white;
}
.MovetoNext
{
    color: #1a73e8;
}
.mat-button:hover
{
    color:#0a418a;
    background-color: rgba(254, 255, 255, 0.815);
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #1a73e8; /* Red background for example */
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #1a73e8;
  }
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #1a73e8;
}
//Media queries
@media screen and (max-width:900px)
{
    mat-card
    {
      min-width: 500px;
    }
    .side
    {
        display: none;
    }
}
@media screen and (max-width:600px)
{
    mat-card {
        transition: none !important;
        border: none !important;
        margin: 0 auto;
        padding: 0px;
        padding-left: 10px;
        width:95%;
        min-width: 200px;
        padding-right: 20px;
    }
}

