<button mat-flat-button class="buttons" style="margin-top: 30px; margin-bottom: 20px;"  *ngIf="trashNotes != undefined" >Empty Trash</button>
<div class="main-div" style="  display: flex;
flex-wrap: wrap;
align-items:flex-start; margin-left: 150px;">
    <mat-card [ngStyle]="{'background-color': note.color}" style="text-align: left; margin-bottom: 20px;" *ngFor="let note of trashNotes" >
        <img src='{{note.image}}' alt='' style="margin-bottom: 5px;" *ngIf=" note.image != null">
        <div class="contents">
        <div class="row">
            <h2 style="margin-bottom: -5px; margin-top: -5px;">{{note.title}}</h2>
        </div>
        <div style="margin: 20px;">
            <p style="margin-top: -15px;">{{note.description}}</p>
        </div>
    </div>
    
    <div class="icon-bars" style="margin-top: 0px; margin-bottom: 10px; color: rgb(88, 88, 88);">
        <i class="material-icons hover-icon"  matTooltip="Delete Forever" (click)="DeleteTrash(note)">delete_forever</i>
        <i class="material-icons-outlined hover-icon"  matTooltip="Restore" (click)="RestoreTrash(note)">restore_from_trash</i>
        </div>
    </mat-card>

</div>
<div *ngIf="trashNotes == undefined" style="display: flex; flex-flow: column; color: rgb(141, 139, 139);justify-content: center; align-items: center; margin-top: 10%; font-size: xx-large;">
    <i class="material-icons" style=" font-size: 200px; color: rgb(216, 214, 214);">delete_outline</i>
    <p>
        No Notes in Trash
    </p>
</div>

