$roboto-slab: 'Roboto', san-serif;  
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
mat-card
{
    width: 45%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 40px auto;
    padding: 8px !important;
    padding-bottom: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    border-radius: 10px;
    min-width: fit-content;
}
.row
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:5px 15px 0px 5px;
    color: rgb(70, 68, 68);
    font-family: $roboto-slab;
}
::ng-deep .mat-form-field-underline{
    display: none;
}
.material-icons-outlined
{
    color: rgb(112, 110, 110);
    margin-right: 10px;
    cursor: pointer;
}

input{
    border: none;
    width: 100%;
    min-width: fit-content;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    &:focus-visible{
        outline: none;
    }
}
.column
{
    display: flex;
    flex-flow: column;
    width: 100%;
}
textarea {
    resize: none;
    font-family: $roboto-slab;
  }
textarea{
    border: none;
    width: 100%;
    padding: 10px 10px 10px 0px;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    &:focus-visible{
        outline: none;
    }
}
mat-card{
    max-height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.icon-bars{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    min-width: 50%;
}
::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important;
    padding: 0px !important;
}
.button
{
background: none;
border: none;
.material-icons
{
color: rgb(207, 205, 205);
}
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    padding: 0px;
    min-height: 20px !important;
}
tes-icon-menu {
    min-height: 20px !important;
}
.space
{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.h4
{
    margin-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}
.color
{
    color: rgb(180, 176, 176);
}

.row > .mat-menu-item{
    border-radius: 50%;
    border: 1px solid rgb(189, 186, 186);
    width: -15px;
    height: 30px;
    max-width: -1px !important;
    max-height: 30px !important;
}
.span
{
    max-width: -1px !important;
    max-height: 30px !important;
}
span.mat-focus-indicator.mat-tooltip-trigger.span.mat-menu-item{
    padding-left: 10px;
    padding-right: 10px;
}
.back-arrow
{
    border: 2px solid rgb(95, 94, 94);
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
}
.rows
{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.datе-picker-wrapper {
    padding: 1rem;
    max-width: 600px;
}
.mat-datepicker-toggle {
    background: url("../../../assets/60595ee112518.png") no-repeat !important;
}
.space-between
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}