<div class="MainContainer">
    <mat-card [formGroup]="LoginForm">
        <div class="center-align">
            <h1>
                <span style="color:blue">F</span>
                <span style="color:red">u</span>
                <span style="color:yellow">n</span>
                <span style="color:green">d</span>
                <span style="color:blue">o</span>
                <span style="color:red">o</span>
            </h1>
            <h1>Sign In</h1>
            <h3>Use your Fundoo Account</h3>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Gmail</mat-label>
            <input matInput placeholder="Email" formControlName='email'>
            <mat-error>{{EmailValidation()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [type]='hide?"text":"password"' formControlName='password'>
            <mat-error>  {{PasswordValidation()}}</mat-error>
        </mat-form-field>
        <mat-checkbox class="" (click)="hide=!hide">Show Password</mat-checkbox>
        <a [routerLink]="['/forget-password']">Forgot Password?</a>
        <div class="row space">
            <button mat-button class="MovetoNext" [routerLink]="['/register']">Create Account</button>
            <button mat-flat-button class="buttons">Next</button>
        </div>
    </mat-card>
</div>