mat-card
{
    padding: 48px 40px 36px;
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    margin: 0 auto;
    margin-top: 40px;
    min-width: 500px;
}
.center-align
{
    text-align: center;
}
//Form header
h1> span{
    font-size: larger;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #1a73e8;
    font-weight:500;
    justify-content: space-between;
}
//Button
.space
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.buttons{
    width: 15%;
    background-color: #1a73e8;
    color:white;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #1a73e8 !important; /* Red background for example */
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #1a73e8 !important;
  }
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #1a73e8!important;
}
//Media queries
@media screen and (max-width:900px)
{
    .side
    {
        display: none;
    }
    mat-card
    {
      min-width: 500px;
    }
}
@media screen and (max-width:600px)
{
    mat-card {
        transition: none !important;
        box-shadow: none !important;
        margin: 0 auto;
        width:80%;
        min-width: 200px;
    }
}

