hr.solid 
  {
    border-top: 3px solid #bbb;
  }

  ::ng-deep .mat-dialog-container {
  
      width: 600px !important;
      padding: 0px !important;
      border-radius: 15px  !important;

  }
  .set-height
  {
    max-height: 450px !important;
    overflow-y:auto;

  }
  .row
  {
      display: flex;
      padding: 0px;
      margin: 0px;
  }
  .column
  {
      display: flex;
      flex-flow: column;
      padding: 0px;
      margin: 0px;
  }
  .italic
  {
      font-style: italic;
      margin-left: 5px;
  }

  .material-icons
  {
      font-size: x-large;
  }
  .button{
      background-color: rgba(0,0,0,0.07);

      display: flex;
      flex-flow: row-reverse;
  }
  .button > h3 
  {
      margin-right: 10px;
      cursor: pointer;
      padding: 5px 7px 0px 7px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 20px;
  }
  .button > h3:hover
  {
      background-color: rgba(0,0,0,.2);
  }
  h2{
      padding-left: 15px;
      padding-top: 10px;
  }
  .owner{
      padding-top: -15px !important;
  }
  img{
      margin-right: 15px;
  }
  input{
    border: none;
    width: 100%;
    min-width: fit-content;
    font-family: 'Roboto', sans-serif;
    &:focus-visible{
        outline: none;
    }
}