<div class="MainContainer">
    <mat-card [formGroup]="ResetForm">
        <div class="center-align">
            <h1>
                <span style="color:blue">F</span>
                <span style="color:red">u</span>
                <span style="color:yellow">n</span>
                <span style="color:green">d</span>
                <span style="color:blue">o</span>
                <span style="color:red">o</span>
            </h1>
            <h1>Change Password</h1>
        </div>
        <div>
            <h2>Create a Strong Password</h2>
            <h4>Create a new, strong password that you don't use for other websites</h4>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Gmail</mat-label>
            <input matInput formControlName='email'>
            <mat-error>{{EmailValidation()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]='hide?"text":"password"' placeholder="Password" formControlName='password'>
            <mat-error>{{ PasswordValidation()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm</mat-label>
            <input matInput placeholder="Confirm" [type]='hide?"text":"password"' formControlName='confirmPassword' pattern="{{this.ResetForm.value.password}}">
            <mat-error *ngIf="ResetForm.get('confirmPassword')?.hasError('pattern')">Passwords didn’t match.Try Again</mat-error>
            <mat-error *ngIf="ResetForm.get('confirmPassword')?.hasError('required')">Enter Confirm Password</mat-error>
        </mat-form-field>
        <mat-checkbox class="" (change)="hide=!hide">Show Password</mat-checkbox>
        <a [routerLink]="['/forget-password']">Forgot Password?</a>
        <div class="row space">
            <button mat-button class="MovetoNext" [routerLink]="['/login']">Skip</button>
            <button mat-flat-button class="buttons" [routerLink]="['/login']">Save Password</button>
        </div>
    </mat-card>
</div>