<div class="MainContainer">
    <mat-card>
        <div class="center-align">
            <h1>
                <span style="color:blue">F</span>
                <span style="color:red">u</span>
                <span style="color:yellow">n</span>
                <span style="color:green">d</span>
                <span style="color:blue">o</span>
                <span style="color:red">o</span>
            </h1>
            <h1>Change Password</h1>
        </div>
        <div>
            <h2>Create a Strong Password</h2>
            <h4>Create a new, strong password that you don't use for other websites</h4>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Gmail</mat-label>
            <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [type]='hide?"text":"password"'>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm</mat-label>
            <input matInput placeholder="Confirm" [type]='hide?"text":"password"'>
        </mat-form-field>
        <mat-checkbox class="" (click)="hide=!hide">Show Password</mat-checkbox>
        <a [routerLink]="['/forget-password']">Forgot Password?</a>
        <div class="row space">
            <button mat-button class="MovetoNext" [routerLink]="['/login']">Skip</button>
            <button mat-flat-button class="buttons" [routerLink]="['/login']">Save Password</button>
        </div>
    </mat-card>
</div>