<div class="main-div" style="  display: flex;
flex-wrap: wrap;
align-items:flex-start; margin-left: 50px;">
    <mat-card [ngStyle]="{'background-color': note.color}" style="text-align: left; margin-bottom: 20px;" *ngFor="let note of userNotes">
        <img src='{{note.image}}' alt='' style="margin-bottom: 10px;" *ngIf=" note.image != null">
        <div class="contents">
        <div class="row">
            <h3>{{note.title}}</h3>
            <i class="material-icons-outlined hover" matTooltip="Pin" *ngIf="note.pin == false"
                (click)="pin=!pin">push_pin</i>
            <i class="material-icons hover" matTooltip="UnPin"style="color: black;" (click)="pin=!pin"
                style="margin-right: 10px;" *ngIf="note.pin == true">push_pin</i>
        </div>
        <div style="margin: 20px;">
            <p>{{note.description}}</p>
        </div>

    </div>
    </mat-card>
    
</div>

